* {
 // outline: 1px solid red !important;
}

body {
    background-color: #4A96AD;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px
}

a#menu svg {
    width: 40px;
    fill: #000;

      }

#map-title{
    text-align: right;
    margin-left:25px;
}
#main{
    width:100%;
    height:100%;
}



nav {
    width: 360px;
    position: absolute;
    z-index:1;
    /* This trasform moves the drawer off canvas. */
    transform: translate(-800px, 0);
    /*Animate the transition*/
    transition: transform 0.5s ease;
}

/* Open the navbar*/
nav.open {
    transform: translate(0, 0);
    box-shadow: 1px 1px 2px;
}

#listSect {
    background-color: #E8E8E8;
}

.listSectInd{
    list-style: none;
    background: #CDCDCD;
    box-shadow: 1px 1px 2px;
    padding: 5px 5px 5px 5px;
    margin:  3px 60px 5px 1px;
}

.listWikiSec{
    background: #CDCDCD;
    box-shadow: 1px 1px 2px;
    margin: 3px 60px 8px 1px;
    padding: 5px 15px 5px 15px;
}

.listSectInd:hover {
    background-color: yellow;
}

.listWikiSec:hover {
    background-color: yellow;
}

.searchPl{
    list-style: none;
    background: #CDCDCD;
    box-shadow: 1px 1px 2px;
    padding: 5px 5px 5px 5px;
}

.searchPl:hover {
    background-color: yellow;
}

 #mapDiv {
    margin-left: -10px;
    position: absolute;
    height: 100%;
    width: 100%;
}